body {
    margin: 100px;
}
.heading {
    display: flex;
    justify-content: space-around;
    }
.qualifications {
    display: flex; 
    flex-direction: column;
}
.education, .skillbox {
    display: flex;
    gap: 20px;
}
.date{
    min-width: 90px;
}
.skilltitle {
    min-width: 130px;;
}
.TechnicalSkills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.titles {
    display: flex;
    gap: 50px;
}

